# C#을 주요 언어로 강제 설정
*.shader linguist-language=C#
*.cginc linguist-language=C#
*.hlsl linguist-language=C#

# Shader 관련 폴더 무시
Assets/Shaders/* linguist-vendored
Library/* linguist-vendored
Packages/* linguist-vendored
ProjectSettings/* linguist-vendored